
.idea/

tutorials/threads/.vscode/

tutorials/my-service/target/
tutorials/tutorial-lambda-crud/target/tutorial-lambda-crud-0.0.1-SNAPSHOT-lambda-package.zip
tutorials/tutorial-lambda-crud/target/lib/aws-lambda-java-core-1.2.3.jar
tutorials/tutorial-lambda-crud/target/lib/aws-serverless-java-container-core-2.0.1.jar
tutorials/tutorial-lambda-crud/target/lib/aws-serverless-java-container-springboot3-2.0.1.jar
tutorials/tutorial-lambda-crud/target/lib/commons-fileupload2-core-2.0.0-M2.jar
tutorials/tutorial-lambda-crud/target/lib/commons-fileupload2-jakarta-servlet6-2.0.0-M2.jar
tutorials/tutorial-lambda-crud/target/lib/commons-io-2.15.1.jar
tutorials/tutorial-lambda-crud/target/lib/HdrHistogram-2.2.2.jar
tutorials/tutorial-lambda-crud/target/lib/jackson-annotations-2.17.2.jar
tutorials/tutorial-lambda-crud/target/lib/jackson-core-2.17.2.jar
tutorials/tutorial-lambda-crud/target/lib/jackson-databind-2.17.2.jar
tutorials/tutorial-lambda-crud/target/lib/jackson-datatype-jdk8-2.17.2.jar
tutorials/tutorial-lambda-crud/target/lib/jackson-datatype-jsr310-2.17.2.jar
tutorials/tutorial-lambda-crud/target/lib/jackson-module-afterburner-2.17.2.jar
tutorials/tutorial-lambda-crud/target/lib/jackson-module-parameter-names-2.17.2.jar
tutorials/tutorial-lambda-crud/target/lib/jakarta.annotation-api-2.1.1.jar
tutorials/tutorial-lambda-crud/target/lib/jakarta.servlet-api-6.0.0.jar
tutorials/tutorial-lambda-crud/target/lib/jakarta.ws.rs-api-3.1.0.jar
tutorials/tutorial-lambda-crud/target/lib/jul-to-slf4j-2.0.13.jar
tutorials/tutorial-lambda-crud/target/lib/LatencyUtils-2.0.3.jar
tutorials/tutorial-lambda-crud/target/lib/log4j-api-2.23.1.jar
tutorials/tutorial-lambda-crud/target/lib/log4j-to-slf4j-2.23.1.jar
tutorials/tutorial-lambda-crud/target/lib/logback-classic-1.5.6.jar
tutorials/tutorial-lambda-crud/target/lib/logback-core-1.5.6.jar
tutorials/tutorial-lambda-crud/target/lib/lombok-1.18.34.jar
tutorials/tutorial-lambda-crud/target/lib/micrometer-commons-1.13.2.jar
tutorials/tutorial-lambda-crud/target/lib/micrometer-core-1.13.2.jar
tutorials/tutorial-lambda-crud/target/lib/micrometer-jakarta9-1.13.2.jar
tutorials/tutorial-lambda-crud/target/lib/micrometer-observation-1.13.2.jar
tutorials/tutorial-lambda-crud/target/lib/slf4j-api-2.0.13.jar
tutorials/tutorial-lambda-crud/target/lib/snakeyaml-2.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-aop-6.1.11.jar
tutorials/tutorial-lambda-crud/target/lib/spring-beans-6.1.11.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-actuator-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-actuator-autoconfigure-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-autoconfigure-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-configuration-processor-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-starter-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-starter-actuator-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-starter-json-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-starter-logging-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-starter-tomcat-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-boot-starter-web-3.3.2.jar
tutorials/tutorial-lambda-crud/target/lib/spring-cloud-function-serverless-web-4.1.1.jar
tutorials/tutorial-lambda-crud/target/lib/spring-context-6.1.11.jar
tutorials/tutorial-lambda-crud/target/lib/spring-core-6.1.11.jar
tutorials/tutorial-lambda-crud/target/lib/spring-expression-6.1.11.jar
tutorials/tutorial-lambda-crud/target/lib/spring-jcl-6.1.11.jar
tutorials/tutorial-lambda-crud/target/lib/spring-web-6.1.11.jar
tutorials/tutorial-lambda-crud/target/lib/spring-webmvc-6.1.11.jar
tutorials/tutorial-lambda-crud/target/lib/tomcat-embed-core-10.1.26.jar
tutorials/tutorial-lambda-crud/target/lib/tomcat-embed-el-10.1.26.jar
tutorials/tutorial-lambda-crud/target/lib/tomcat-embed-websocket-10.1.26.jar
tutorials/tutorial-lambda-crud/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
tutorials/tutorial-lambda-crud/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
tutorials/tutorial-lambda-crud/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
tutorials/tutorial-lambda-crud/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
tutorials/tutorial-lambda-crud/.vscode/settings.json

.vscode/
